<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="row mar-top" ng-show="show.main">
    <div class="container" style="max-width: 750px;">
        <div class="row">
            <div class="col s12 center">
                <div class="card z-depth-0">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator " ng-src="{{photoURL}}" alt="Profile photo">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                Name: {{name}}
            </div>
            <div class="input-field col s12">
                Email: {{email}}
            </div>
        </div>    
    </div>
</div>
<div class="children" ng-show="show.preloading">
    <span class="heartbeat-loader">Loading&#8230;</span>
</div>



<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>